/*************************************
TAB RESPONSIVENESS
*************************************/

@media (min-width:992px) {
    #feature-1 {
        position: relative;
        right: 6vh;
    }

    #feature-3 {
        position: relative;
        right: 10vh;
    }

    .row-tab {
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5vh 0 5vh 0;
        padding: 0 3vh 0 3vh;
    }

    .col-tab {
        -ms-flex-order: 1;
        order: 1;
        position: relative;
        width: 100%;
        padding-right: 25px;
        padding-left: 15px;
        padding-bottom: 3rem !important;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        -ms-flex-order: 1;
        order: 1
    }


    #tab .image-tab {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        -ms-flex-order: 1;
        order: 1
    }

    .left-heading .section-title-1 {
        font-weight: 500;
        font-size: 24px;
        line-height: 42px;
        color: #1e1e1e;
        letter-spacing: 0.25px;
        margin: 0 0 30px 40px;
        position: relative;
    }

    .left-text-1 p {
        margin: 0 0 30px 40px;
    }

    .left-text-2 p {
        margin: 0 0px 30px 0px;
    }

    .left-text-3 p {
        margin: 0 0 30px 0px;
    }

    .image-tab img {
        max-width: 100%;
        width: 90%;
        overflow: hidden;
    }

}

@media (max-width: 820px) {
    #tab {
        height: 125vh;
    }

    .tabs {
        display: inherit;
        margin: 3vh 3vh 3vh 3vh;
    }

    .tabs-container {
        max-width: 1000px;
        background-color: #E5F1FF;
        border-radius: 15px;
    }

    #tab h2 {
        color: #474747;
        font-size: 24px;
        font-weight: bold;
    }

    #tab p {
        color: #474747;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 1px;
    }

    .tabs li {
        width: 100%;
    }

    .tabs li:not(:last-child) {
        margin-right: 0;
    }

    .tabs li a {
        border-radius: 10px;
        opacity: 1;
        top: 0;
        text-decoration: none;
        width: 100%;
        /* background: white; */
        color: black;
        text-align: center;
    }

    .tabs li.active a {
        color: black;
        background-color: white;
        text-align: center;
    }

    .tabs li.active a::before {
        padding-right: 5px;
        content: "•";
        color: rgb(1, 11, 8);
        display: none;
    }

    .tabs-content {
        border-radius: 0;
    }

    .row-tab {
        margin-right: -15px;
        margin-left: -15px;
        display: flex;
        flex-wrap: wrap;
    }

    #img-2 img {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        -ms-flex-order: 1;
        order: 2;
    }

    .image-tab {
        position: relative;
        padding-top: 1.5rem !important;
        position: relative;
        width: 100%;
        -ms-flex-order: 0;
        order: 0;
    }

    /* .col-tab {
        width: 100%;
        padding-right: 25px;
        padding-left: 15px;
    } */
}

@media (max-width:768px) {
    #tab {
        height: 142vh;
    }
}

@media (max-width: 600px) {
    #tab {
        height: 160vh;
    }

    .tabs {
        display: inherit;
        margin: 3vh 3vh 3vh 3vh;
    }

    #tab h2 {
        color: #474747;
        font-size: 24px;
        font-weight: bold;
        padding: 10px;
    }

    #tab p {
        color: #474747;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 1px;
    }

    /* #tab ul {
        padding: 10px;
    } */

    .tabs-container {
        max-width: 1000px;
        margin: 1vh 2vh 2vh 1vh;
        padding: 5px;
        background-color: #E5F1FF;
        border-radius: 15px;
    }

    .tabs li {
        width: 100%;
    }

    .tabs li:not(:last-child) {
        margin-right: 0;
    }

    /* .tabs li a {
        border-radius: 10px;
        opacity: 1;
        top: 0;
        text-decoration: none;
        width: 80%;
        background: white;
        color: black;
    }

    .tabs li.active a {
        color: black;
        background-color: white;
    } */

    .tabs li.active a::before {
        padding-right: 5px;
        content: "•";
        color: rgb(1, 11, 8);
        display: none;
    }

    .tabs-content {
        border-radius: 0;
    }

    .row-tab {
        margin-right: -15px;
        margin-left: -15px;
        display: flex;
        flex-wrap: wrap;
    }

    #img-2 img {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        -ms-flex-order: 1;
        order: 2;
    }

    .image-tab {
        position: relative;
        padding-bottom: 1.5rem !important;
        padding-top: 1.5rem !important;
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        -ms-flex-order: 0;
        order: 0;
        padding-bottom: 3rem !important;
    }

    .col-tab {
        width: 100%;
    }
}

@media (max-width: 420px) {
    #tab ul {
        padding: 0px;
    }

    .image-tab {
        position: relative;
        padding-bottom: 0.5rem !important;
        padding-top: 1.5rem !important;
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        -ms-flex-order: 0;
        order: 0;
        padding-bottom: 0.5rem !important;
    }

}

@media (max-width: 392px) {
    #tab {
        height: 155vh;
    }

    #tab h2 {
        color: #474747;
        font-size: 24px;
        font-weight: bold;
        padding: 10px;
    }

    #tab p {
        color: #474747;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 1px;
        padding: 10px;
    }

    #tab ul {
        padding: 10px;
    }

    .tabs {
        display: inherit;
        margin: 2vh 1vh 0vh 1vh;
    }

    .tabs-container {
        max-width: 1000px;
        margin: 1vh 0vh 1vh 0vh;
        padding: 5px;
        background-color: #E5F1FF;
        border-radius: 15px;
    }

    .tabs li {
        width: 100%;
    }

    .tabs li:not(:last-child) {
        margin-right: 0;
    }

    /* .tabs li a {
        border-radius: 10px;
        opacity: 1;
        top: 0;
        text-decoration: none;
        width: 80%;
        background: white;
        color: black;
    } */

    /* .tabs li.active a {
        color: black;
        background-color: white;
    } */

    .tabs li.active a::before {
        padding-right: 5px;
        content: "•";
        color: rgb(1, 11, 8);
        display: none;
    }

    .tabs-content {
        border-radius: 0;
    }

    .row-tab {
        margin-right: -15px;
        margin-left: -15px;
        display: flex;
        flex-wrap: wrap;
    }

    #img-2 img {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        -ms-flex-order: 1;
        order: 2;
    }

    .image-tab {
        position: relative;
        padding-bottom: 1.5rem !important;
        padding-top: 1.5rem !important;
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        -ms-flex-order: 0;
        order: 0;
        padding-bottom: 3rem !important;
    }

    .col-tab {
        width: 100%;
        padding-right: 25px;
        padding-left: 15px;
    }

    .image-tab img {
        max-width: 100%;
        /* width: 90%; */
        overflow: hidden;
    }

}

@media (max-width: 376px) {
    #tab {
        height: 160vh;
    }
}

/*************************************
DESCRIPTION RESPONSIVENESS
*************************************/

@media (min-width:992px) {
    .col-desc {
        -ms-flex: 0 0 40%;
        flex: 0 0 40%;
        max-width: 40%
    }
}